

@import '~bootstrap/scss/bootstrap';

.main {
    background-color: black;
    height: 400px;
}
img {
    max-width: 100%;
}
.ms_card{
    width: calc(100% / 6 - 10px);
    padding: 5px;
    height: 200px;
    margin: 20px 0;
    img {
        object-fit: cover;
        height: 150px;
    }
}